body{
    background-color: rgb(0, 0, 0);
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(252, 252, 252);
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.maincontainer{
border: 2px solid white;
}

/* css for navbar  */
#logo{
    left: 0px;
}

.navbar{
    background-color: rgb(255, 228, 205);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    padding: 2px;
    padding-bottom: 0px;
}
.navbar ul{
    margin: 10px;
    padding: 5px;
    display: flex;
}
.navbar ul li {
    margin-right: 30px;
    list-style: none;
}
.navbar ul li a{
    /* margin: 10px; */
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


                    /* section 1 Home  */

#home{
    /* color: black; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#home::before{
    content: "";
    background:url(foodbackground.png) no-repeat center/cover;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    /* top: 0px; */
    left: 0px;
}

/* section 2 products */
#products{
    display: flex;
    background-color: brown ;
    justify-content: center;
    flex-direction: column;

}
#producthead{
    border: 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(244, 197, 140);
    padding: 10px;
    margin: 20px;
}
#producthead div ul { 
    /* margin: 10px; */ 
    display: flex;
    flex-direction: row;
    list-style: none ;

}
#producthead div ul li span{
    font-size: 3rem;
    color: red;

}
#countdownend{display: block;
    font-size: 20px;
    align-items: center;
    margin: auto;

}

/* products */
.product{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    /* padding: px; */
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}
.productitems{
    display: block; 
    align-items: center;
    margin:auto ; 
    margin-top:5px;
     margin-bottom:5px ;
}






/* footer */
footer{
    background-color: blueviolet;
    text-align: center;
    position: sticky;
    bottom: 0px;
}

.btn{
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
}




/* login page Css */

.loginpopupwindow{
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: blueviolet;
    border: 10px solid ;
    width: 800px;
    height: 500px;
    z-index: 100;
    box-shadow: 20px 20px 5px rgb(90, 97, 90);

}
.box{
    display: flex;

}


.form{
    border: 2px solid black;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(71, 71, 99,0.6);
}
.from-control{
    color: black;
    margin: 10px;
    font-size: 30px;
}

.form .btn{
    width: 200px;
    font-size: 30px;
    margin: 10px;
}
.form h1{
    color: black;
    font-family:monospace;
    font-size: 50px;
}

